* {
    margin: 0;
    padding: 0;
    border: o none;
    position: relative;
}

.header{
    width: 100%;
    background: url(../images/header.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    z-index: 1;
}
.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header .logo{
    line-height: 400px;
    text-align: center;
}


.header2{
    position: fixed;
    height: 200px;
    z-index: 1;
}
.header2 .logo{
    line-height: 190px;
}
/*
@media screen and (max-width: 950px){
    header .logo,
    header nav{
        width: 100%;
        text-align: center;
        line-height: 100px;
    }
    .header2{
        height: auto;
    }
    .header2 .logo,
    header2 nav{
        line-height: 10px;
    }
}
*/


/*******************************************/
.imglogo{
    width: 50px;
    height: 50px;
}

.contenido2{
    padding-top: 30%;
}

.container{
    z-index: 0;
}

.carousel-indicators{
    z-index: 0;
}
.carousel-inner{
    z-index: -1;
}



.seis{
    position: relative;
    z-index: 10;
}
/*******************************************/



/*******************************************/
/*Otros Estilos*/
/*******************************************/
article{
    text-align: justify; 
}

.footer{
    background: #009999;
    color: #000000;
    text-align: center;
    font-family: 'Sue Ellen Francisco';
    font-size: 25px;
    display: inline-block;
    width: 100%;
 
}

.box1{
    background: #009999;
    color: #000000;
    text-align: center;
    align-content: center;
    align-items: center;
}

.box2{
    background: #CCD6DD;
    color: #000000;
    text-align: center;
    font-family: 'Arima Madurai';
}

.sin-borde{
    border-radius: 0%;
}

.centrado{
    text-align: center;
    align-content: center;
    align-items: center;
    align-items: center;
}
/*******************************************/


/*******************************************/
/*Estilo Formulario2*/
/*******************************************/
.formulario2 {
    color: #666666;
    font-family:Arial;
}
.input2, .textarea2 {
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    font-size:10px;
    color:#ffffff;
}
#submit {
    border:none;
    cursor:pointer;
}
/*******************************************/



/*******************************************/
/*Navbar*/
/*******************************************/
#menu_gral {
    font-family: 'Arima Madurai';
    width: 100%;
    margin: 0rem auto;
}
#menu_gral ul {
    list-style-type: none; 
    text-align: center;
    font-size: 0;
}
#menu_gral > ul li {
    display: inline-block;
    width: 15%;
    position: relative;
}
#menu_gral li a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 4rem;
    color: #fff;
}
#menu_gral li:hover a, #menu_gral li a:focus {
    background: #fff;
    color: #000;
}
#menu_gral li ul {
    position: absolute;
    width: 0;
    overflow: hidden;
}
#menu_gral li:hover ul, #menu_gral li:focus ul {
    width: 100%;
    background:  #fff;
    z-index: 5;
    opacity: 0.7;
}
#menu_gral li li {
    display: block;
    width: 100%;
}
#menu_gral li:hover li a, #menu_gral li:focus li a {
    font-family: 'Arima Madurai';
    font-size: 1.2rem;
    line-height: 3.5rem;
    background: #002233;
    color: aqua;
}
#menu_gral li li a:hover, #menu_gral li li a:focus {
    background: #fff;
    color: #000;
}

#menu_gral li ul #adelante{
    z-index: 10;
}
/*******************************************/
