header{
    background: #009999;
    color: #000000;
    text-align: center;
    font-family: 'Sue Ellen Francisco';
    font-size: 25px;
}

footer{
    background: #009999;
    color: #000000;
    text-align: center;
    font-family: 'Sue Ellen Francisco';
    font-size: 25px;
}

article{
    text-align: justify; 
}

.box1{
    background: #009999;
    color: #000000;
    text-align: center;
    align-content: center;
    align-items: center;
}

.box2{
    background: #CCD6DD;
    color: #000000;
    text-align: center;
    font-family: 'Arima Madurai';
}

