*
    margin: 0
    padding: 0
    font-family: $josefin



//Etiquetas
blockquote
    margin: 80px 0px 50px auto
    width: 80%
    color: $gray
    font-size: 15px


    
    
//Identificadores    
#ancla
    border: none
    padding: .5px
#separador
    border: none
    width: 40%
    margin: auto
    padding-bottom: 20px
.container
    width: 100%
    z-index: 1000
    .padding-cero
        img
            width: 100%
    
        
        
//Clases
.centro 
    text-align: center
.negrita 
    font-weight: bold
.blanco
    background: white 
.padding
    padding: 45px
.padding-t
    padding-top: 45px
.padding-r
    padding-right: 50px
.padding-l
    padding-left: 50px 
.padding-cero
    padding: 0
.titulo
    color: $petroleo
    text-shadow: 0.1em 0.1em 0.15em #333 
.titulo2
    color: $gray
    font-weight: bold
    font-family: $arima
    font-size: 25px
.background
    background-color: $gray
.separador
    border-color: $black
.teclas
    background-color: $gray
    color: white
    text-align: center
    padding: 30px
    border: 2px solid rgba($gray, 0.5)
    border-radius: 15px
    width: 90%
    margin: auto
    kbd
        background-color: white
        color: $gray
.backtitulo    
    padding: 2%
    color: $gray
    font-family: $arima
    font-size: 20px

    
.fondocoding
    background-color: #000
    background-image: url(../images/Imgs_WebDesign/banner3.PNG)
    background-attachment: contain
    background-position: center
    background-repeat: no-repeat
    margin-bottom: 10px
    color: $white
    padding: 20px
    font-family: $arima
.coding
    margin: auto
    width: 80%
    pre
        padding: 25px 15px 15px 0px
        margin: 0
        font-family: $code
        
.imghover
    height: 300px
    overflow: hidden
    padding-top: 50px
    margin: 0