.footer
    background-color: $gris
    color: $gray
    font-size: 13px 
    height: auto
    display: flex
    align-items: center
    padding: 25px
    margin: 0
    a
        text-decoration: none
        color: $gray !important
        &:hover, &:active, &:focus
            text-decoration: none
            color: $activo !important
    .copyr
        padding-top: 30px 
        color: $gray !important