@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai|Cookie|Indie+Flower|Josefin+Sans|Just+Another+Hand|Lobster+Two|Open+Sans+Condensed|Source+Sans+Pro|Sue+Ellen+Francisco|Muli|Montez|Source+Code+Pro|Sacramento|Devonshire");
#contactanos {
  margin-top: 30px;
  margin-bottom: 30px; }

.contacto {
  padding: 50px 10px 50px 10px; }

.wrapper {
  width: 100%;
  max-width: 600px;
  padding: 40px 10px 40px 10px;
  margin: auto;
  background-color: #FFFFFF; }

.datos2, .datos3 {
  padding-top: 40px;
  margin: auto; }

.datos1 table {
  margin: auto; }
  .datos1 table td {
    padding: 2px 5px 2px 5px; }
  .datos1 table i {
    color: #404040; }
  .datos1 table i.fa-map-marker {
    font-size: 18px; }
  .datos1 table i.fa-whatsapp {
    font-size: 17px; }
  .datos1 table .tel, .datos1 table .mail, .datos1 table .dir {
    padding-left: 7px; }

.datos3 b {
  color: #404040; }

.form h1 {
  padding: 10px; }
.form span {
  padding-right: 10px; }

.contenedor-formulario {
  width: 100%;
  color: #fff;
  padding: 0px; }
  .contenedor-formulario .formulario {
    width: 100%;
    margin: auto; }
    .contenedor-formulario .formulario .input-group {
      position: relative;
      width: 90%;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto; }
      .contenedor-formulario .formulario .input-group input[type="text"],
      .contenedor-formulario .formulario .input-group input[type="email"],
      .contenedor-formulario .formulario .input-group input[type="password"] {
        font-size: 14px;
        color: #404040;
        width: 100%;
        outline: none;
        padding: 15px;
        background: none;
        border: none;
        border-bottom: 1.7px solid #404040; }
        .contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
        .contenedor-formulario .formulario .input-group input[type="email"]:focus,
        .contenedor-formulario .formulario .input-group input[type="email"]:active,
        .contenedor-formulario .formulario .input-group input[type="password"]:focus,
        .contenedor-formulario .formulario .input-group input[type="password"]:active {
          outline: none;
          border-bottom: 1.7px solid #404040; }
        .contenedor-formulario .formulario .input-group input[type="text"].error,
        .contenedor-formulario .formulario .input-group input[type="email"].error,
        .contenedor-formulario .formulario .input-group input[type="password"].error {
          border-bottom: 1.7px solid #85144B; }
          .contenedor-formulario .formulario .input-group input[type="text"].error + label,
          .contenedor-formulario .formulario .input-group input[type="email"].error + label,
          .contenedor-formulario .formulario .input-group input[type="password"].error + label {
            color: rgba(133, 20, 75, 0.7); }
      .contenedor-formulario .formulario .input-group textarea[type="textarea"] {
        font-size: 14px;
        color: #404040;
        width: 100%;
        height: 150px;
        outline: none;
        padding: 15px;
        margin-top: 20px;
        background: none;
        border: none;
        border-bottom: 1.7px solid #404040; }
        .contenedor-formulario .formulario .input-group textarea[type="textarea"]:focus, .contenedor-formulario .formulario .input-group textarea[type="textarea"]:active {
          outline: none;
          border: none;
          border-bottom: 1px solid #404040; }
        .contenedor-formulario .formulario .input-group textarea[type="textarea"].error {
          border: none;
          border-bottom: 1px solid #85144B; }
          .contenedor-formulario .formulario .input-group textarea[type="textarea"].error + label {
            color: rgba(133, 20, 75, 0.7); }
      .contenedor-formulario .formulario .input-group label {
        color: rgba(64, 64, 64, 0.5); }
        .contenedor-formulario .formulario .input-group label.label {
          /*Posicionando el label dentro del input con absolute */
          position: absolute;
          top: 25px;
          left: 0;
          font-size: 14px;
          line-height: 16px;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .contenedor-formulario .formulario .input-group label.label.active {
            top: -5px;
            font-size: 12px;
            line-height: 12px;
            color: rgba(64, 64, 64, 0.5); }
      .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
        display: inline-block;
        cursor: pointer;
        color: #404040;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
          color: #01171f;
          width: 100%; }
        .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;
          position: absolute;
          left: 15px;
          border-radius: 50%;
          background: none;
          border: 1.7px solid #404040; }
      .contenedor-formulario .formulario .input-group.error label {
        color: #85144B; }
        .contenedor-formulario .formulario .input-group.error label:hover {
          background: rgba(255, 65, 54, 0.2); }
        .contenedor-formulario .formulario .input-group.error label:before {
          border: 1.7px solid #85144B; }
      .contenedor-formulario .formulario .input-group.radio input[type="radio"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
          background: #00384d;
          color: #FFFFFF;
          padding: 5px 15px;
          border-radius: 1.7px; }
      .contenedor-formulario .formulario .input-group.checkbox label:before {
        border-radius: 3px; }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
          background: #f2f2f2;
          opacity: 0.7;
          color: #111111;
          padding: 5px 15px;
          width: 100%;
          border-radius: 1.7px;
          text-align: center; }
    .contenedor-formulario .formulario input[type="submit"] {
      background: #FFFFFF;
      color: #404040;
      cursor: pointer;
      padding: 10px;
      width: 100%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      border: 1.7px solid #01171f;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .contenedor-formulario .formulario input[type="submit"]:hover {
        background: #01171f;
        border: 1.7px solid #01171f;
        color: #FFFFFF; }

.portafolio .margin {
  padding: 0px;
  margin: 0; }
.portafolio .ih-item.square.effect13 .info .title {
  color: #fff;
  text-align: center;
  font-size: 15px; }
.portafolio .vermas {
  padding: 20px;
  text-align: center; }
  .portafolio .vermas button {
    width: 80%;
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #01171f;
    color: #01171f;
    font-family: "Arima Madurai";
    font-size: 15px !important; }
    .portafolio .vermas button:hover, .portafolio .vermas button:focus, .portafolio .vermas button:after {
      background-color: #01171f;
      color: #FFFFFF; }

.footer {
  background-color: #f2f2f2;
  color: #404040;
  font-size: 13px;
  height: auto;
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 0; }
  .footer a {
    text-decoration: none;
    color: #404040 !important; }
    .footer a:hover, .footer a:active, .footer a:focus {
      text-decoration: none;
      color: #01171f !important; }
  .footer .copyr {
    padding-top: 30px;
    color: #404040 !important; }

/* footer social icons */
ul.social-network {
  list-style: non;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }
  ul.social-network li {
    display: inline;
    margin: 0 5px; }

/* footer social icons */
.social-network a.icoRss:hover i {
  color: #F56505; }
.social-network a.icoFacebook:hover i {
  color: #3B5998; }
.social-network a.icoTwitter:hover i {
  color: #33ccff; }
.social-network a.icoGoogle:hover i {
  color: #BD3518; }
.social-network a.icoVimeo:hover i {
  color: #0590B8; }
.social-network a.icoLinkedin:hover i {
  color: #007BB6; }
.social-network a.icoInstagram:hover i {
  color: #3F729B; }
.social-network a.icoYelp:hover i {
  color: #CB2027; }

a.socialIcon:hover, .socialHoverClass {
  color: #44BCDD; }

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  font-size: 15px; }
.social-circle li i {
  margin: 0;
  line-height: 35px;
  text-align: center; }
.social-circle li a:hover i, .social-circle li .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s; }
.social-circle i {
  color: #404040;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

a.social {
  background-color: transparent; }

ul.social-net {
  list-style: non;
  display: inline;
  margin-left: 0 !important;
  padding: 0; }
  ul.social-net li {
    display: inline;
    margin: 0 5px; }

.social-c li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  font-size: 16px; }
.social-c li i {
  margin: 0;
  line-height: 35px;
  text-align: center; }
.social-c li a:hover i, .social-c li .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  color: #01171f; }
.social-c i {
  color: #404040;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

.menu_bar {
  display: none; }

header {
  position: fixed;
  width: 100%;
  height: 60px;
  -webkit-transition: background-color 0.5s;
  z-index: 1000;
  background-color: transparent; }
  header nav {
    display: table;
    margin: auto;
    margin-top: 5px;
    height: 60px;
    -webkit-transition: margin-left 0.5s;
    z-index: 1000; }
    header nav ul {
      /*display: block */
      float: left;
      list-style: none; }
      header nav ul li {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        position: relative;
        display: inline-block; }
        header nav ul li i {
          padding-left: 8px; }

ul a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 17px; }
  ul a:hover {
    color: #d9d9d9 !important;
    text-decoration: none; }
  ul a:focus {
    color: #d9d9d9;
    text-decoration: none; }
  ul a:active {
    color: #d9d9d9;
    text-decoration: none; }

.active {
  color: #d9d9d9 !important;
  text-decoration: none; }

/*Submen├║s */
header nav ul li:hover #drop {
  display: block; }

header nav ul li #drop {
  display: none;
  position: absolute;
  z-index: 1000; }

#drop {
  background-color: #fff;
  border-radius: 0;
  border-color: #fff;
  width: 80%; }
  #drop li a {
    color: #000 !important;
    background-color: transparent; }
    #drop li a:hover {
      color: #01171f !important; }
    #drop li a:active {
      color: #01171f !important; }
    #drop li a:focus {
      color: #01171f !important;
      background-color: transparent; }

/*Banner */
section#banner {
  width: 100%;
  background-image: url(../images/backgrounds/Backgrounds_Banners.jpg);
  background-attachment: contain;
  background-position: center;
  background-repeat: no-repeat; }

img#logo {
  float: left;
  width: 250px;
  height: 250px;
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 150px;
  -webkit-transition: width 0.5s, height 0.5s, margin-right 0.5s, margin-top 0.5s; }

/*Responsive */
@media screen and (max-width: 850px) {
  body {
    padding-top: 60px; }

  section#banner {
    display: none; }

  img#logo {
    display: none; }

  .menu_bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff; }
    .menu_bar .bt-menu {
      display: block;
      padding: 20px;
      color: black;
      overflow: hidden;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none; }
    .menu_bar span {
      float: right;
      font-size: 20px; }

  header {
    height: 0px; }
    header nav {
      width: 100%;
      height: calc(20% - 60px);
      position: fixed;
      right: 100%;
      margin: 0;
      overflow: scroll;
      background-color: white; }
      header nav ul li {
        display: block; }
        header nav ul li a {
          display: block;
          color: black; }

  /*SubMen├║ */
  header nav ul li:hover #drop {
    display: none; }

  header nav ul li #drop {
    width: 100%;
    position: relative;
    background-color: #fff !important; }

  header nav ul li #drop li a {
    margin-left: 20px;
    color: #000 !important; } }
/*Fin Responsive */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arima Madurai"; }

section a {
  text-decoration: none;
  color: black; }

section a:hover {
  text-decoration: none;
  color: black; }

section#nosotros, section#servicios, section#contactanos, section#portafolio {
  margin-bottom: 20px; }

b.dotsT {
  color: #01171f;
  font-family: "Lobster Two";
  padding: 0px 5px 0px 5px;
  font-size: 140%; }

p {
  text-align: justify; }

#contenido {
  z-index: -2; }

#ancla {
  border: none;
  padding: 0.5px; }

section#banner2 {
  width: 100%;
  height: 500px;
  background-image: url(../images/Imgs_WebDesign/banner2.png);
  background-attachment: contain;
  background-position: center;
  background-repeat: no-repeat; }

#imagen {
  width: 200px;
  height: 200px; }

#separador {
  border-color: rgba(64, 64, 64, 0.2);
  width: 70%;
  margin: auto;
  padding-bottom: 20px; }

.centro {
  text-align: center; }

.negrita {
  font-weight: bold; }

.blanco {
  background: white; }

.padding {
  padding: 45px; }

.padding-t {
  padding-top: 45px; }

.padding-r {
  padding-right: 50px; }

.padding-l {
  padding-left: 50px; }

.padding-cero {
  padding: 0; }

.titulo {
  color: #00384d;
  text-shadow: 0.1em 0.1em 0.15em #333; }

.titulo2 {
  color: #01171f; }

.efectoimg {
  height: 100px;
  width: 300px;
  margin: 15px 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease; }

.efectoimg:hover {
  height: 133px;
  width: 400px;
  margin-left: -50px; }

.efectoimg2 {
  margin: 20px;
  border: 5px solid #eee;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }

.efectoimg2:hover {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg); }

button {
  align-self: center;
  background: transparent;
  padding: 1rem 1rem;
  margin: 0 1rem;
  margin-top: 20px;
  transition: all 0.5s ease;
  color: #404040;
  font-size: 1.7rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; }
  button:hover {
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3); }
  button.lined.thick {
    border: solid 1px #01171f; }

.content {
  width: 207px;
  font-size: 36px;
  line-height: 40px;
  font-family: "Muli";
  color: #00384d;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -113px;
  padding-bottom: 120px; }
  .content:before {
    content: "[";
    position: absolute;
    left: -20px;
    line-height: 40px; }
  .content:after {
    content: "]";
    position: absolute;
    right: -37px;
    line-height: 40px; }
  .content:after, .content:before {
    color: #16a085;
    font-size: 42px;
    animation: 2s linear 0s normal none infinite opacity;
    -webkit-animation: 2s ease-out 0s normal none infinite opacity;
    -moz-animation: 2s ease-out 0s normal none infinite opacity;
    -o-animation: 2s ease-out 0s normal none infinite opacity; }
  .content .visible {
    float: left;
    font-weight: 600;
    overflow: hidden;
    height: 40px; }
  .content p {
    display: inline;
    float: left;
    margin: 0; }
  .content ul {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    animation: 6s linear 0s normal none infinite change;
    -webkit-animation: 6s linear 0s normal none infinite change;
    -moz-animation: 6s linear 0s normal none infinite change;
    -o-animation: 6s linear 0s normal none infinite change; }
    .content ul li {
      line-height: 40px;
      margin: 0; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes change {
  0% {
    margin-top: 0; }
  15% {
    margin-top: 0; }
  25% {
    margin-top: -40px; }
  40% {
    margin-top: -40px; }
  50% {
    margin-top: -80px; }
  65% {
    margin-top: -80px; }
  75% {
    margin-top: -40px; }
  85% {
    margin-top: -40px; }
  100% {
    margin-top: 0; } }
@keyframes change {
  0% {
    margin-top: 0; }
  15% {
    margin-top: 0; }
  25% {
    margin-top: -40px; }
  40% {
    margin-top: -40px; }
  50% {
    margin-top: -80px; }
  65% {
    margin-top: -80px; }
  75% {
    margin-top: -40px; }
  85% {
    margin-top: -40px; }
  100% {
    margin-top: 0; } }
.imghover {
  position: relative;
  ovrflow: hidden;
  display: block; }

/*# sourceMappingURL=main.css.map */
